################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/WebApplication.BookStore/.vs/WebApplication.BookStore/v16
/WebApplication.BookStore/WebApplication.BookStore/obj
