
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/lib/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/Site.css" rel="stylesheet" />>
</head>
<body class="container">
    <h1>Hi from index</h1>
    <input type="button" value="click" class="btn btn-danger" />
    <img class="logo" src="~/images/logo.jpg" />
</body>
<script src="~/lib/jquery/jquery.js"></script>
</html>

<script>
    $document.ready(function () {
        alert("page successfully loaded");

    });
</script>
