
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetBookById</title>
</head>
<body>
    <h2>Hi from get book by id</h2>
</body>
</html>
